repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        - id: end-of-file-fixer
        - id: trailing-whitespace
        - id: check-docstring-first
        - id: detect-private-key

    - repo: https://github.com/myint/autoflake
      rev: v2.2.1
      hooks:
        - id: autoflake
          files: (^(src|tests)/)|(^[^/]*$)
          args: [--in-place, --remove-all-unused-imports, --recursive, --ignore-init-module-imports]

    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.0
      hooks:
        - id: nbstripout

    - repo: https://github.com/pycqa/flake8
      rev: 6.1.0
      hooks:
      - id: flake8
        args: ["--count", "--select=E9,F63,F7,F82", "--show-source", "--statistics"]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.13.3
      hooks:
        # Run the linter.
        - id: ruff
          types_or: [ python, pyi, jupyter ]
          args: [ --fix ]
        # Run the formatter.
        - id: ruff-format
          types_or: [ python, pyi, jupyter ]

    - repo: local
      hooks:
        - id: license_embedded
          name: license_embedded
          entry: python3 .github/hooks/license_embedded.py
          language: system
          files: (src/.*\.py|.*\.ipynb)

    - repo: https://github.com/jorisroovers/gitlint
      rev: v0.19.1 # Fill in a tag / sha here (e.g. v0.19.1)
      hooks:
      - id: gitlint
        args: [--ignore=B6, --msg-filename]
