repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        - id: end-of-file-fixer
        - id: trailing-whitespace
        - id: check-docstring-first
        - id: detect-private-key

    - repo: https://github.com/myint/autoflake
      rev: v1.4
      hooks:
        - id: autoflake
          files: (^(src|tests)/)|(^[^/]*$)
          args: [--in-place, --remove-all-unused-imports, --recursive, --ignore-init-module-imports]

    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]

    - repo: https://github.com/kynan/nbstripout
      rev: 0.5.0
      hooks:
        - id: nbstripout

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
      - id: black
        language_version: python3.9
        language: python
        types: [python]
        args: ["--line-length=120"]
