repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        - id: end-of-file-fixer
        - id: trailing-whitespace
        - id: check-docstring-first
        - id: detect-private-key

    - repo: https://github.com/myint/autoflake
      rev: v1.4
      hooks:
        - id: autoflake
          files: (^(src|tests)/)|(^[^/]*$)
          args: [--in-place, --remove-all-unused-imports, --recursive, --ignore-init-module-imports]

    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]

    - repo: https://github.com/kynan/nbstripout
      rev: 0.5.0
      hooks:
        - id: nbstripout

    - repo: https://github.com/pycqa/flake8
      rev: 5.0.4
      hooks:
      - id: flake8
        args: ["--count", "--select=E9,F63,F7,F82", "--show-source", "--statistics"]

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
      - id: black-jupyter
        language_version: python3.9
        language: python
        types: [python]
        args: ["--line-length=100"]

    - repo: https://github.com/mwouts/jupytext
      rev: v1.14.1
      hooks:
      - id: jupytext
        args: ["--sync"]

    - repo: local
      hooks:
        - id: license_embedded
          name: license_embedded
          entry: python .github/hooks/license_embedded.py
          language: system
          files: (src/.*\.py|.*\.ipynb)
