Sphinx==5.3.0
sphinx-rtd-theme==1.0.0
numpy==1.23.2
gurobipy==10.0.0b1
scikit-learn==1.1.2
matplotlib==3.6.0
matplotlib-inline==0.1.6
seaborn==0.12.1
pandas==1.5.1
sphinx-copybutton==0.5.0
myst-nb==0.17.1
.
