gurobipy==12.0.1
gurobipy-pandas==1.2.0
ipykernel==6.29.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
sphinxcontrib_bibtex==2.6.3
numpy==2.0.2
numpydoc==1.8.0
pandas==2.2.3
scikit-learn==1.5.2
seaborn==0.13.2
Sphinx==8.2.1
sphinx-copybutton==0.5.2
sphinx_design==0.6.1
sphinx-pyproject==0.3.0
.
sphinx-gallery==0.19.0
gurobi-sphinxtheme @ git+https://github.com/Gurobi/gurobi-sphinxtheme.git@no-logo
