gurobipy==11.0.1
gurobipy-pandas==1.1.1
ipykernel==6.29.4
jupytext==1.16.1
matplotlib==3.6.0
matplotlib-inline==0.1.7
sphinxcontrib_bibtex==2.6.2
numpy==1.26.4
numpydoc==1.7.0
pandas==2.2.2
scikit-learn==1.4.1.post1
seaborn==0.13.2
Sphinx==7.3.7
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
nbsphinx==0.9.3
jupytext==1.16.1
sphinx_design==0.5.0
sphinx-pyproject==0.3.0
pydata-sphinx-theme==0.15.2
.
sphinx-gallery==0.15.0
