name: build wheel

on:
  push:
    branches:
      - main
      # Release branches
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"

jobs:
  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: python -m pip install --upgrade build
    - name: Insert Git hash into version
      run: .github/scripts/insert_git_hash.sh src/gurobi_ml/_version.py
    - name: Build wheel
      run: python -m build
    - name: Store artifacts
      uses: actions/upload-artifact@v3
      with:
        path: dist/*
        if-no-files-found: error

  upload_conda:
    name: Upload to Conda staging
    runs-on: ubuntu-latest
    needs: build_wheel
    if: github.event_name == 'push'
    steps:
    - uses: actions/checkout@v3
    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        path: dist
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: python -m pip install --upgrade twine
    - name: Twine check
      run: python -m twine check dist/artifact/*
    - name: Upload to staging
      env:
        ANACONDA_STAGING_TOKEN: ${{ secrets.ANACONDA_STAGING_TOKEN }}
      run:
        bash .github/scripts/upload_anaconda.sh
