# This workflow uses `pull_request_target` which has access to a WLS license. For security reasons, this workflow
# will only be run for PRs from a fork after it has been assessed by a repository owner and has the "safe to test"
# label added. Any changes to the PR in need of a retriggering of the workflow require the removal and re-adding of the
# "safe to test" label.
#
# Since a subset of checks already ran in the nolicense workflow, this workflow skips linting here.

name: build and test PR, license required

on:
  pull_request_target:
    types: [labeled]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        gurobi-version: ["gurobi11","gurobi12","gurobi13"]
        exclude:
          - python-version: "3.13"
            gurobi-version: "gurobi11"
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: ./.github/actions/setup-python-and-install
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - id: write-license
        name: Write license
        uses: ./.github/actions/write-license
        with:
          license: ${{ secrets.LICENSE }}
      - name: Test with tox (uv)
        env:
          GRB_LICENSE_FILE: ${{ steps.write-license.outputs.grb_license_file }}
          GUROBI_VERSION: ${{ matrix.gurobi-version }}
        run: |
          uvx tox

  examples:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    needs: tests
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        gurobi-version: ["gurobi11","gurobi12","gurobi13"]
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: ./.github/actions/setup-python-and-install
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - id: write-license
        name: Write license
        uses: ./.github/actions/write-license
        with:
          license: ${{ secrets.LICENSE }}
      - name: Run examples (uv)
        env:
          GRB_LICENSE_FILE: ${{ steps.write-license.outputs.grb_license_file }}
          GUROBI_VERSION: ${{ matrix.gurobi-version }}
        run: |
          python_version_no_dot=$(echo "${{ matrix.python-version }}" | tr -d '.')
          uvx tox -e py${python_version_no_dot}-examples-${{ matrix.gurobi-version }}
