# This workflow uses `pull_request` which does not have access to a WLS license, it is just safer to use
# and will be started for any newly opened PRs or when a change is pushed to the PR.
#
# Since the WLS license is missing, this workflow runs a limited set of tests:
# - It skips the examples target in tox,
# - In pytest, some tests are annotated as needing a WLS license. These are automatically skipped.

name: build and test PR, no license

on:
  pull_request:

permissions:
  contents: read

jobs:
  build_pr_nolicense:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        gurobi-version: ["gurobi11","gurobi12"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest tox tox-gh-actions
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with tox, excluding the examples target
      run: |
        tox
      env:
        GUROBI_VERSION: ${{ matrix.gurobi-version }}
